@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, head, body {
    scroll-behavior: smooth;
}

body {
    padding: 25px;
    background-color: #303336;
    color: #EBEBEB;
}

div {
    max-width: 100%;
}

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 300%;
}

p, h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 150%;
}

.links {
    text-decoration: none;
    color: #aca7cb;
}

.dark {
    cursor: pointer;
}

img {
    padding: 5px 5px 5px 5px;
}

.bottomtext{
	font-family: 'Montserrat', sans-serif;
	color: #EBEBEB;
    text-align: center;
    font-size: x-small;
}
.bottomtext a{
	color: #aca7cb;
	text-decoration: none;
}